

body{
  height: 100%;
  
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
   background-color: black;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%; /* Cambia este valor al tamaño que desees */
  height: 100%;



}








.container {  display: grid;
  grid-template-columns: 0.5% 16.5% 16.5% 16.5% 16.5% 16.5% 16.5% 0.5%;
  grid-template-rows: 1fr 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    ". TITULO TITULO TITULO TITULO TITULO TITULO ."
    ". TITULO TITULO TITULO TITULO TITULO TITULO ."
    ". SERIAL SERIAL SERIAL SERIAL SERIAL SERIAL ."
    ". FECHA FECHA FECHA HORA HORA HORA ."
    ". LOTERIA-CON-LA-Q-JUEGA LOTERIA-CON-LA-Q-JUEGA LOTERIA-CON-LA-Q-JUEGA LOTERIA-CON-LA-Q-JUEGA LOTERIA-CON-LA-Q-JUEGA LOTERIA-CON-LA-Q-JUEGA ."
    ". fecha fecha fecha fecha fecha fecha ."
    ". NOMBRE-DEL-VENDEDOR NOMBRE-DEL-VENDEDOR NOMBRE-DEL-VENDEDOR NOMBRE-DEL-VENDEDOR NOMBRE-DEL-VENDEDOR NOMBRE-DEL-VENDEDOR ."
    ". NUMERO-CELULAR-DEL-VENDEDOR NUMERO-CELULAR-DEL-VENDEDOR NUMERO-CELULAR-DEL-VENDEDOR NUMERO-CELULAR-DEL-VENDEDOR NUMERO-CELULAR-DEL-VENDEDOR NUMERO-CELULAR-DEL-VENDEDOR ."
    ". NOMBRE-DEL-CLIENTE NOMBRE-DEL-CLIENTE NOMBRE-DEL-CLIENTE NOMBRE-DEL-CLIENTE NOMBRE-DEL-CLIENTE NOMBRE-DEL-CLIENTE ."
    ". NUMERO-TELEFONO-CLIENTE NUMERO-TELEFONO-CLIENTE NUMERO-TELEFONO-CLIENTE NUMERO-TELEFONO-CLIENTE NUMERO-TELEFONO-CLIENTE NUMERO-TELEFONO-CLIENTE ."
    ". NUMERO APUESTA COMBI PATA UÑA PREMIO ."
    ". NUMERO1 APUESTA1 COMBI1 PATA1 UÑA1 PREMIO1 ."
    ". NUMERO2 APUESTA2 COMBI2 PATA2 UÑA2 PREMIO2 ."
    ". NUMERO3 APUESTA3 COMBI3 PATA3 UÑA3 PREMIO3 ."
    ". boton boton boton boton boton boton .";
}

.TITULO { grid-area: TITULO;
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: TITULO; 
  width: 100%; 
  color:#d8cfcf00;
}

.SERIAL { grid-area: SERIAL;


  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(189, 182, 182, 0.541);	
	border-radius: 3PX;
	background-color: rgba(66, 64, 64, 0.247);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;
  justify-self: center; 
  align-self: center; 
  grid-area: SERIAL; 
  width: 100%; 
  height: 100%; 



}

.FECHA { grid-area: FECHA; 


  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(189, 182, 182, 0.541);	
	border-radius: 3PX;
	background-color: rgba(66, 64, 64, 0.247);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;





}

.HORA { grid-area: HORA;
  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(189, 182, 182, 0.541);	
	border-radius: 3PX;
	background-color: rgba(66, 64, 64, 0.247);
	backdrop-filter: blur(3px);;






}



.LOTERIA-CON-LA-Q-JUEGA { grid-area: LOTERIA-CON-LA-Q-JUEGA;


  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;




}

.fecha { grid-area: fecha; 

  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(189, 182, 182, 0.541);	
	border-radius: 3PX;
	background-color: rgba(66, 64, 64, 0.247);
	backdrop-filter: blur(3px);
	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;





}









.NOMBRE-DEL-VENDEDOR { grid-area: NOMBRE-DEL-VENDEDOR;


  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;
 }

.NUMERO-CELULAR-DEL-VENDEDOR { grid-area: NUMERO-CELULAR-DEL-VENDEDOR; 


  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;
}

.NOMBRE-DEL-CLIENTE { grid-area: NOMBRE-DEL-CLIENTE; 


  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;
}

.NUMERO-TELEFONO-CLIENTE { grid-area: NUMERO-TELEFONO-CLIENTE; 


  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;
}










.NUMERO { grid-area: NUMERO; }

.APUESTA { grid-area: APUESTA; }

.COMBI { grid-area: COMBI; }

.PATA { grid-area: PATA; }

.UÑA { grid-area: UÑA; }

.PREMIO { grid-area: PREMIO; }





.NUMERO1 { grid-area: NUMERO1; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-style: unset;
    color:#d8cfcf;
    font-size: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
    border-radius: 3PX;
    background-color: rgb(66, 64, 64);
    backdrop-filter: blur(3px);
    border-radius: 00px 15px 0px 15px;
    width: 100%;
    height: 100%;
}

.APUESTA1 { grid-area: APUESTA1; 

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  border-radius: 3PX;
  background-color: rgb(66, 64, 64);
  backdrop-filter: blur(3px);
  border-radius: 00px 15px 0px 15px;
  width: 100%;
  height: 100%;

}

.COMBI1 { grid-area: COMBI1; 

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  border-radius: 3PX;
  background-color: rgb(66, 64, 64);
  backdrop-filter: blur(3px);
  border-radius: 00px 15px 0px 15px;
  width: 100%;
  height: 100%;
}

.PATA1 { grid-area: PATA1;

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  border-radius: 3PX;
  background-color: rgb(66, 64, 64);
  backdrop-filter: blur(3px);
  border-radius: 00px 15px 0px 15px;
  width: 100%;
  height: 100%;


}

.UÑA1 { grid-area: UÑA1; 

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  border-radius: 3PX;
  background-color: rgb(66, 64, 64);
  backdrop-filter: blur(3px);
  border-radius: 00px 15px 0px 15px;
  width: 100%;
  height: 100%;


}

.PREMIO1 { grid-area: PREMIO1; 

  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(255, 253, 253);


}








.NUMERO2 { grid-area: NUMERO2; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  border-radius: 3PX;
  background-color: rgb(66, 64, 64);
  backdrop-filter: blur(3px);
  border-radius: 00px 15px 0px 15px;
  width: 100%;
  height: 100%;
}

.APUESTA2 { grid-area: APUESTA2; 

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;

}

.COMBI2 { grid-area: COMBI2; 

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;
}

.PATA2 { grid-area: PATA2;

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;


}

.UÑA2 { grid-area: UÑA2; 

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;


}

.PREMIO2 { grid-area: PREMIO2; 

display: flex;
justify-content: center;
align-items: center;

color: rgb(255, 253, 253);


}








.NUMERO3 { grid-area: NUMERO3; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-style: unset;
  color:#d8cfcf;
  font-size: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  border-radius: 3PX;
  background-color: rgb(66, 64, 64);
  backdrop-filter: blur(3px);
  border-radius: 00px 15px 0px 15px;
  width: 100%;
  height: 100%;
}

.APUESTA3 { grid-area: APUESTA3; 

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;

}

.COMBI3 { grid-area: COMBI3; 

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;
}

.PATA3 { grid-area: PATA3;

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;


}

.UÑA3 { grid-area: UÑA3; 

display: flex;
justify-content: center;
align-items: center;
color: black;
font-style: unset;
color:#d8cfcf;
font-size: 100%;
box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
border-radius: 3PX;
background-color: rgb(66, 64, 64);
backdrop-filter: blur(3px);
border-radius: 00px 15px 0px 15px;
width: 100%;
height: 100%;


}

.PREMIO3 { grid-area: PREMIO3; 

display: flex;
justify-content: center;
align-items: center;

color: rgb(255, 253, 253);


}






.boton { grid-area: boton; 
  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(189, 182, 182, 0.541);	
	border-radius: 3PX;
	background-color: rgba(66, 64, 64, 0.247);
	backdrop-filter: blur(3px);;

}




.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          box-shadow: 0 0 0 0 var(--hover);
}






.raise {
  --color: #362e2e;
  --hover: #e5ff60;
}


button {
  font-style: unset;
  color:#d8cfcf;
  font-size: 50px;
	box-shadow: 0 0 1rem 0 rgba(189, 182, 182, 0.541);	
	border-radius: 10PX;
	background-color: rgba(66, 64, 64, 0.247);
	backdrop-filter: blur(3px);;



  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}




@keyframes span2{
0%{border-color: var(--hover);
  color: #fbff00ee;
  
  
}
100%{ --color: #361a1a63;
  --hover: #c9ee11;
  
}

}







button {
  background: none;
  animation: span2 1s linear infinite;
animation-delay: 2s;
}





























html, body , .container {
  height: 100%;
  margin: 0;
}

/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid rgb(63, 56, 56);
  position: relative;
  font-size: 40px;
}

.container *:after {

  position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

