

body{
  height: 100%;
  
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
   background-color: black;
  align-content: center;
  text-align: center;

  width: 100%; /* Cambia este valor al tamaño que desees */
  height: 100%

  font-family: 'Arial', sans-serif; 
 
  font-weight: bold; 
  font-style: italic; 

}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1.5fr .1fr .1fr .1fr .1fr .1fr 0.1fr .1fr .1fr .1fr .1fr .1fr .1fr .1fr .1fr .1fr;
  gap: 2% 0%;
  grid-auto-flow: row dense;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  grid-template-areas:
    "TITULO TITULO TITULO TITULO TITULO TITULO"
    "TITULO TITULO TITULO TITULO TITULO TITULO"
    "SERIAL SERIAL SERIAL SERIAL SERIAL SERIAL"
    "FECHA FECHA FECHA HORA HORA HORA"
    "LOTERIA-CON-LA-Q-JUEGA LOTERIA-CON-LA-Q-JUEGA LOTERIA-CON-LA-Q-JUEGA FECHA-EN-LA-QUE-JUEGA FECHA-EN-LA-QUE-JUEGA FECHA-EN-LA-QUE-JUEGA"
    "NOMBRE-DEL-VENDEDOR NOMBRE-DEL-VENDEDOR NUMEROV NOMBRE-DE-CLIENTE NOMBRE-DE-CLIENTE NUMEROTELCL"
    "NUMERO VALOR-APOSTADO COMBINADO PATA UÑA VALOR-A-GANAR"
    "NUMERO1 VA1 VC1 VP1 VU1 VG1"
    "NUMERO2 VA2 VC2 VP2 VU2 VG2"
    "NUMERO3 VA3 VC3 VP3 VU3 VG3"
    "NUMERO4 VA4 VC4 VP4 VU4 VG4"
    "NUMERO5 VA5 VC5 VP5 VU5 VG5"
    "NUMERO6 VA6 VC6 VP6 VU6 VG6"
    "TOTALES TOTAL1 TOTALC TOTALP TOTALU ."
    "TOTAL-A-PAGAR TOTAL-A-PAGAR TOTALPA PARRAFO PARRAFO PARRAFO"
    ". . . . . .";
  width: 100%;
  height: 100%;
}

.SERIAL { grid-area: SERIAL; 


  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);

	border-radius: 00px 15px 0px 15px;
	
  width: 100%;
  height: 100%;



}

.FECHA { grid-area: FECHA; 

 
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgba(207, 199, 199, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 0px 10px 10px 15px;
	

  width: 100%;
  height: 100%;



}

.HORA { grid-area: HORA; 


  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgba(207, 199, 199, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 0px 10px 10px 15px;
	

  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif; 
 
  font-weight: bold; 
  font-style: italic; 
 

}

.LOTERIA-CON-LA-Q-JUEGA { grid-area: LOTERIA-CON-LA-Q-JUEGA;

  color:#181515;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgba(207, 199, 199, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 0px 10px 10px 15px;
	text-align: center;

  width: 100%;
  height: 100%;



}
#LOTERIA{ 

 
    background-color: rgb(85, 78, 78);
 

  color:#020202;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgba(255, 255, 255, 0.952);
	backdrop-filter: blur(3px);

	border-radius: 0px 10px 10px 15px;
	

  width: 100%;
  height: 100%;


}
.FECHA-EN-LA-QUE-JUEGA { grid-area: FECHA-EN-LA-QUE-JUEGA; 


  background-color: rgb(85, 78, 78);
 

  color:#020202;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);	
	border-radius: 3PX;
	background-color: rgba(255, 255, 255, 0.952);
	backdrop-filter: blur(3px);

	border-radius: 0px 10px 10px 15px;
	

  width: 100%;
  height: 100%;







}


#fecha{ 

  font-family: 'Arial', sans-serif; 
 
  font-weight: bold; 
  font-style: italic; 


}



.TITULO { grid-area: TITULO;
  width: 100%;
  height: 100%;
 }

.NUMERO { grid-area: NUMERO;
  background-color: rgb(85, 78, 78);
 

  color:#f5ecec;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.651);	
	border-radius: 3PX;
	background-color: rgba(51, 50, 50, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 10px 10px 10px 10px;
	

  width: 100%;
  height: 100%;





}

.VALOR-APOSTADO { grid-area: VALOR-APOSTADO;
  background-color: rgb(85, 78, 78);
 

  color:#f5ecec;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.651);	
	border-radius: 3PX;
	background-color: rgba(51, 50, 50, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 10px 10px 10px 10px;
	

  width: 100%;
  height: 100%;
 }

.COMBINADO { grid-area: COMBINADO;
  background-color: rgb(85, 78, 78);
 

  color:#f5ecec;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.651);	
	border-radius: 3PX;
	background-color: rgba(51, 50, 50, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 10px 10px 10px 10px;
	

  width: 100%;
  height: 100%; }

.PATA { grid-area: PATA; 
  background-color: rgb(85, 78, 78);
 

  color:#f5ecec;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.651);	
	border-radius: 3PX;
	background-color: rgba(51, 50, 50, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 10px 10px 10px 10px;
	

  width: 100%;
  height: 100%;}

.UÑA { grid-area: UÑA; 

  background-color: rgb(85, 78, 78);
 

  color:#f5ecec;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.651);	
	border-radius: 3PX;
	background-color: rgba(51, 50, 50, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 10px 10px 10px 10px;
	

  width: 100%;
  height: 100%;}



.VALOR-A-GANAR { grid-area: VALOR-A-GANAR;

  background-color: rgb(85, 78, 78);
 

  color:#f5ecec;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.651);	
	border-radius: 3PX;
	background-color: rgba(51, 50, 50, 0.548);
	backdrop-filter: blur(3px);

	border-radius: 10px 10px 10px 10px;
	

  width: 100%;
  height: 100%;
}

.NUMERO1 { grid-area: NUMERO1; }

.NUMERO2 { grid-area: NUMERO2; }

.NUMERO3 { grid-area: NUMERO3; }

.NOMBRE-DEL-VENDEDOR { grid-area: NOMBRE-DEL-VENDEDOR; }

.NUMEROV { grid-area: NUMEROV; }

.NOMBRE-DE-CLIENTE { grid-area: NOMBRE-DE-CLIENTE; }

.NUMEROTELCL { grid-area: NUMEROTELCL; }

.NUMERO4 { grid-area: NUMERO4; }

.NUMERO5 { grid-area: NUMERO5; }

.NUMERO6 { grid-area: NUMERO6; }

.TOTALES { grid-area: TOTALES; }

.VA1 { grid-area: VA1; }

.VA2 { grid-area: VA2; }

.VA3 { grid-area: VA3; }

.VA4 { grid-area: VA4; }

.VA5 { grid-area: VA5; }

.VA6 { grid-area: VA6; }

.TOTAL1 { grid-area: TOTAL1; }

.VC1 { grid-area: VC1; }

.VC2 { grid-area: VC2; }

.VC3 { grid-area: VC3; }

.VC4 { grid-area: VC4; }

.VC5 { grid-area: VC5; }

.VC6 { grid-area: VC6; }

.TOTALC { grid-area: TOTALC; }

.VP1 { grid-area: VP1; }

.VP2 { grid-area: VP2; }

.VP3 { grid-area: VP3; }

.VP4 { grid-area: VP4; }

.VP5 { grid-area: VP5; }

.VP6 { grid-area: VP6; }

.TOTALP { grid-area: TOTALP; }

.VU1 { grid-area: VU1; }

.VU2 { grid-area: VU2; }

.VU3 { grid-area: VU3; }

.VU4 { grid-area: VU4; }

.VU5 { grid-area: VU5; }

.VU6 { grid-area: VU6; }

.TOTALU { grid-area: TOTALU; }

.TOTAL-A-PAGAR { grid-area: TOTAL-A-PAGAR; }

.TOTALPA { grid-area: TOTALPA; }

.PARRAFO { grid-area: PARRAFO; }

.VG1 { grid-area: VG1; }

.VG2 { grid-area: VG2; }

.VG3 { grid-area: VG3; }

.VG4 { grid-area: VG4; }

.VG5 { grid-area: VG5; }

.VG6 { grid-area: VG6; }
