

body{
  height: 100%;
  
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
   background-color: black;
  align-content: center;
  text-align: center;

  width: 100%; /* Cambia este valor al tamaño que desees */
  height: 100%



}


.container {  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: .8fr repeat(5, .1fr) 0.1fr repeat(9, .1fr);
  gap: 2% 0%;
  grid-auto-flow: row dense;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.SERIAL { grid-area: 3 / 1 / 4 / 7; 



  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);
  margin: 15px;
	border-radius: 0px 10px 10px 15px;
	

}

.FECHA { grid-area: 4 / 1 / 5 / 4; }

.HORA { grid-area: 4 / 4 / 5 / 7; }

.LOTERIA-CON-LA-Q-JUEGA { grid-area: 5 / 1 / 6 / 4; }

.FECHA-EN-LA-QUE-JUEGA { grid-area: 5 / 4 / 6 / 7; }

.TITULO { grid-area: 1 / 1 / 3 / 7; 



  font-style: unset;
  color:#d8cfcf;
  font-size: 23px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 3PX;
	background-color: rgb(66, 64, 64);
	backdrop-filter: blur(3px);
  margin: 15px;
	border-radius: 0px 10px 10px 15px;
	

}

.NUMERO { grid-area: 7 / 1 / 8 / 2; }

.VALOR-APOSTADO { grid-area: 7 / 2 / 8 / 3; }

.COMBINADO { grid-area: 7 / 3 / 8 / 4; }

.PATA { grid-area: 7 / 4 / 8 / 5; }

.UÑA { grid-area: 7 / 5 / 8 / 6; }

.VALOR-A-GANAR { grid-area: 7 / 6 / 8 / 7; }

.NUMERO1 { grid-area: 8 / 1 / 9 / 2; }

.NUMERO2 { grid-area: 9 / 1 / 10 / 2; }

.NUMERO3 { grid-area: 10 / 1 / 11 / 2; }

.NOMBRE-DEL-VENDEDOR { grid-area: 6 / 1 / 7 / 3; }

.NUMEROV { grid-area: 6 / 3 / 7 / 4; }

.NOMBRE-DE-CLIENTE { grid-area: 6 / 4 / 7 / 6; }

.NUMEROTELCL { grid-area: 6 / 6 / 7 / 7; }

.NUMERO4 { grid-area: 11 / 1 / 12 / 2; }

.NUMERO5 { grid-area: 12 / 1 / 13 / 2; }

.NUMERO6 { grid-area: 13 / 1 / 14 / 2; }

.TOTALES { grid-area: 14 / 1 / 15 / 2; }

.VA1 { grid-area: 8 / 2 / 9 / 3; }

.VA2 { grid-area: 9 / 2 / 10 / 3; }

.VA3 { grid-area: 10 / 2 / 11 / 3; }

.VA4 { grid-area: 11 / 2 / 12 / 3; }

.VA5 { grid-area: 12 / 2 / 13 / 3; }

.VA6 { grid-area: 13 / 2 / 14 / 3; }

.TOTAL1 { grid-area: 14 / 2 / 15 / 3; }

.VC1 { grid-area: 8 / 3 / 9 / 4; }

.VC2 { grid-area: 9 / 3 / 10 / 4; }

.VC3 { grid-area: 10 / 3 / 11 / 4; }

.VC4 { grid-area: 11 / 3 / 12 / 4; }

.VC5 { grid-area: 12 / 3 / 13 / 4; }

.VC6 { grid-area: 13 / 3 / 14 / 4; }

.TOTALC { grid-area: 14 / 3 / 15 / 4; }

.VP1 { grid-area: 8 / 4 / 9 / 5; }

.VP2 { grid-area: 9 / 4 / 10 / 5; }

.VP3 { grid-area: 10 / 4 / 11 / 5; }

.VP4 { grid-area: 11 / 4 / 12 / 5; }

.VP5 { grid-area: 12 / 4 / 13 / 5; }

.VP6 { grid-area: 13 / 4 / 14 / 5; }

.TOTALP { grid-area: 14 / 4 / 15 / 5; }

.VU1 { grid-area: 8 / 5 / 9 / 6; }

.VU2 { grid-area: 9 / 5 / 10 / 6; }

.VU3 { grid-area: 10 / 5 / 11 / 6; }

.VU4 { grid-area: 11 / 5 / 12 / 6; }

.VU5 { grid-area: 12 / 5 / 13 / 6; }

.VU6 { grid-area: 13 / 5 / 14 / 6; }

.TOTALU { grid-area: 14 / 5 / 15 / 6; }

.TOTAL-A-PAGAR { grid-area: 15 / 1 / 16 / 3; }

.TOTALPA { grid-area: 15 / 3 / 16 / 4; }

.PARRAFO { grid-area: 15 / 4 / 16 / 7; }

.VG1 { grid-area: 8 / 6 / 9 / 7; }

.VG2 { grid-area: 9 / 6 / 10 / 7; }

.VG3 { grid-area: 10 / 6 / 11 / 7; }

.VG4 { grid-area: 11 / 6 / 12 / 7; }

.VG5 { grid-area: 12 / 6 / 13 / 7; }

.VG6 { grid-area: 13 / 6 / 14 / 7; }
