


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
          box-shadow: 0 0 0 0 var(--hover);
}






.raise {
  --color: #ff6060;
  --hover: #e5ff60;
}


button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}




@keyframes span2{
0%{border-color: var(--hover);
  color: #ffffff1f;
  transition: all .10s;
  transform: rotate(-3deg) scale(0.8); 
  
}
100%{ --color: #ffa260;
  --hover: #e5ff60;
  
}

}






body {
  color: #fff;
  background: #17181c;
  font: 300 1em 'Fira Sans', sans-serif;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  animation: span2 10s linear infinite;
animation-delay: 2s;
}

